useDynLib(hqreg, .registration=TRUE)
export(hqreg, cv.hqreg)
importFrom(graphics, plot)
S3method(plot, hqreg)
S3method(plot, cv.hqreg)
importFrom(stats, predict)
S3method(predict, hqreg)
S3method(predict, cv.hqreg)
importFrom(stats, coef)
S3method(coef, hqreg)
S3method(coef, cv.hqreg)

import(parallel)
importFrom("grDevices", "hcl")
importFrom("graphics", "abline", "arrows", "axis", "mtext", "par", "points")
importFrom("stats", "approx", "lm", "quantile", "sd", "update")
